<!doctype html>
<html  class="x-admin-sm">
<head>
	<meta charset="UTF-8">
	<title>后台登录-AutoAws</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/login.css">
	  <link rel="stylesheet" href="../../static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../static/lib/layui/layui.js" charset="utf-8"></script>
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">
    
    <div class="login layui-anim layui-anim-up">
        <div class="message">autoAws管理登录</div>
        <div id="darkbannerwrap"></div>
        
        <form method="post" class="layui-form" >
            {% csrf_token %}
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>

    <script>
        $(function  () {
            layui.use('form', function(){
              const form = layui.form;
              // layer.msg('玩命卖萌中', function(){
              //   //关闭后的操作
              //   });
              //监听提交
              form.on('submit(login)', function(data){
                $.post(
                    "/Login/",
                    data.field,
                    function(res){
                        if(res.status === 1){
                            layer.msg(res.message, {time: 2000});
                            const url="/";
                            setTimeout(window.location.href=url, 2000);
                        }
                        if (res.status === 2){
                            let htmlData = '<div class="layui-fluid">\n' +
                  '            <div class="layui-row">\n' +
                  '                <form class="layui-form">\n' +
                  '                  <div class="layui-form-item">\n' +
                  '                      <label for="code" class="layui-form-label">\n' +
                  '                          <span class="x-red">*</span>二步验证\n' +
                  '                      </label>\n' +
                  '                      <div class="layui-input-inline">\n' +
                  '                          <input type="text" id="code" name="code" required="" lay-verify="required"\n' +
                  '                          autocomplete="off" class="layui-input">\n' +
                  '                      </div>\n' +
                  '                  </div>\n' +
                  '              </form>\n' +
                  '            </div>\n' +
                  '        </div>';
                            layer.open({
                                title: "二步验证",
                                area: ["400px", "200px"],
                                type: 1,
                                content: htmlData,//把数据显示在弹出层上
                                btn: ['确定'],
                                yes: function (index, layero) {//改完，点击确定
                                  let code = layero.find("#code").val();//获得修改后的值

                                  //同步更新缓存对应的值
                                  $.post(
                                      "/CheckCode/",
                                      {username: data.field.username, password: data.field.password, code: code},
                                      function (res) {
                                          if (res.status){
                                              layer.msg(res.message, {time: 2000});
                                              const url="/";
                                              setTimeout(window.location.href=url, 2000);
                                          }else{
                                              layer.msg(res.message);
                                          }

                                      },
                                      'json'
                                  );
                                }
                            });
                        }
                        else{
                            layer.msg(res.message, {time: 2000})
                        }
                    },
                    'json'
                );
                return false;
              });
            });
        })
    </script>
    <!-- 底部结束 -->
</body>
</html>